<%= form_with(model: [@building, apartment], local: true) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.select :building_id, @buildings.map{|building| [building.name, building.id] }, prompt: "Seleccione una opción.." %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
